<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <section class="container">
        <%- include('partials/navbar.ejs') %>
    
        <article class="content">
            <h1>Cadastro de Post</h1>

            <% if(cadastrado){ %>
                Cadastro Realizado com Sucesso
            <% }%>
            <form action="/salvar-post" method="post">
                <div>
                    <label>Titulo</label>
                    <input type="text" name="titulo" placeholder="Digite o Título">
                </div>

                <div>
                    <label>Texto</label>
                    <textarea name="texto"></textarea>
                </div>
                <div>
                    <button type="submit">Cadastrar</button>
                </div>
            </form>
        </article>
    </section>
    
    <%- include('partials/footer.ejs') %>
    <%- include('partials/foot.ejs') %>
</body>
</html>