<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>

    <%- include('partials/header.ejs') %>
    <section class="container">
        <%- include('partials/navbar.ejs') %>
        <article class="content">
            <h1>Seja bem vindo</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam assumenda esse asperiores repellat qui sapiente quaerat obcaecati ad deleniti quia nostrum, tempora excepturi possimus perspiciatis exercitationem recusandae praesentium earum? Quod.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis ipsa doloribus, placeat sint molestias enim, et hic quisquam incidunt eius facere, ipsam laboriosam distinctio amet. Voluptas exercitationem debitis corrupti maiores!</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi explicabo fugiat ratione vel eveniet libero. Sapiente eos voluptatibus ratione! Nam laudantium iure temporibus culpa nulla. Distinctio modi consequuntur quasi dicta!</p>
        </article>
    </section>
    

    <%- include('partials/footer.ejs') %>
    <%- include('partials/foot.ejs') %>
</body>
</html>